{% extends "base.html" %}

{% block content %}
<h2>修改密碼</h2>
<form action="{{ url_for('edit_password', user_id=user.id) }}" method="POST" enctype="multipart/form-data">
    <!--舊密碼欄位-->
    <div class="form-group m-2">
        <label for="old_password">舊密碼</label>
        <input type="password" class="form-control" id="old_password" name="old_password" placeholder="請輸入舊密碼" required>
    </div>
    <!--新密碼欄位-->
    <div class="form-group m-2">
        <label for="new_password">新密碼</label>
        <input type="password" class="form-control" id="new_password" name="new_password" placeholder="請輸入新密碼" required>
    </div>
    <!--密碼確認欄位-->
    <div class="form-group m-2">
        <label for="confirm_password">新密碼確認</label>
        <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="請確認新密碼" required>
    </div>
    
    <button type="submit" class="btn btn-success">更新密碼</button>
</form>

{% endblock %}